version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: guest_feedback
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d guest_feedback"]
      interval: 5s
      timeout: 5s
      retries: 5


  api:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql+asyncpg://admin:1234@db:5432/guest_feedback
    ports:
      - "8000:8000"

volumes:
  postgres_data:
